@model Assignment1.Models.Person

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}

<h2>WelCome</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoginName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginName)
        </dd>

        @* <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmPassword)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailId)
        </dd>

       @* <dt>
            @Html.DisplayNameFor(model => model.CityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Update", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @* @Html.ActionLink("Back to List", "Index")*@
    @*<button>@Html.ActionLink("Logout", "Logout")</button>*@
    <input type="submit" value="logout" name="Logout" />
    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Logout" class="btn btn-default" />
            </div>
        </div>*@
</p>
